.horizontal {
    overflow: scroll;
    overflow-y: hidden;
}

.horizontal::-webkit-scrollbar {
    display: none;
}
.vertical{
    margin: 1%;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 300px;
}
.vertical::-webkit-scrollbar {
    display: none;
}